{%- style -%}
#shopify-section-{{ section.id }} {
--section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
}
{%- endstyle -%}

{{ 'ambientes.css' | asset_url | stylesheet_tag }}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="ambientes-section section--padding{% if section.settings.show_divider %} section--divider{% endif %}">
  <div class="page-width ">
    <div class="title-wrapper {{ section.settings.heading_alignment }}">
      <{{ section.settings.heading_tag }} class="title {{ section.settings.heading_size }}">{{ section.settings.heading
        | default: section.settings.page.title | escape }}</{{ section.settings.heading_tag }}>
    </div>

    <div class="container-grid">
      {% for block in section.blocks %}
      <div class="item">
        <use-animate data-animate="zoom-fade"
          class="media-wrapper multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' %} multicolumn-card-spacing{% endif %}">
          <div class="image-animate media media--landscape media--hover-effect">
            <img
              srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
              src="{{ block.settings.image | image_url: width: 760 }}" alt="{{ block.settings.image.alt | escape }}"
              loading="lazy" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}"
              class="motion-reduce">
          </div>
        </use-animate>
        <a class="button" href="{{block.settings.link}}">
          {{block.settings.title}}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
"name": "Ambientes",
"tag": "section",
"class": "section",
"settings": [
{
"type": "header",
"content": "t:sections.all.heading.label"
},
{
"type": "text",
"id": "heading",
"default": "Page title",
"label": "t:sections.all.heading.label"
},
{
"type": "select",
"id": "heading_size",
"options": [
{
"value": "h2",
"label": "t:sections.all.heading_size.options__1.label"
},
{
"value": "h1",
"label": "t:sections.all.heading_size.options__2.label"
},
{
"value": "h0",
"label": "t:sections.all.heading_size.options__3.label"
}
],
"default": "h1",
"label": "t:sections.all.heading_size.label"
},
{
"type": "select",
"id": "heading_alignment",
"label": "t:sections.all.heading_alignment.label",
"options": [
{
"value": "left",
"label": "t:sections.all.heading_alignment.options__1.label"
},
{
"value": "center",
"label": "t:sections.all.heading_alignment.options__2.label"
},
{
"value": "right",
"label": "t:sections.all.heading_alignment.options__3.label"
}
],
"default": "left"
},
{
"type": "select",
"id": "heading_tag",
"options": [
{
"value": "h1",
"label": "t:sections.all.heading_tag.options__1.label"
},
{
"value": "h2",
"label": "t:sections.all.heading_tag.options__2.label"
},
{
"value": "h3",
"label": "t:sections.all.heading_tag.options__3.label"
},
{
"value": "h4",
"label": "t:sections.all.heading_tag.options__4.label"
},
{
"value": "h5",
"label": "t:sections.all.heading_tag.options__5.label"
},
{
"value": "h6",
"label": "t:sections.all.heading_tag.options__6.label"
},
{
"value": "div",
"label": "t:sections.all.heading_tag.options__7.label"
},
{
"value": "span",
"label": "t:sections.all.heading_tag.options__8.label"
},
{
"value": "p",
"label": "t:sections.all.heading_tag.options__9.label"
}
],
"default": "h2",
"label": "t:sections.all.heading_tag.label",
"info": "t:sections.all.heading_tag.info"
},
{
"type": "header",
"content": "t:sections.all.padding.header.content"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "t:sections.all.padding.padding_top.unit",
"label": "t:sections.all.padding.padding_top.label",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "t:sections.all.padding.padding_bottom.unit",
"label": "t:sections.all.padding.padding_bottom.label",
"default": 36
}
],
"blocks": [
{
"type": "image",
"name": "Item",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "title",
"label": "Title",
"default": "Title"
},
{
"type": "url",
"id": "link",
"label": "Link"
}
]
}
],
"presets": [
{
"name": "Ambientes"
}
],
"disabled_on": {
"groups": ["header", "footer", "custom.overlay"]
}
}
{% endschema %}